<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<title>Document</title>
</head>

<body> 
	<form th:action="@{/bodegas/insertar}" th:objetc="${bodega}" th:method="POST">  
		<table>
			<tr>
				<td>
					<label>Nombre:</label>
				</td>
				<td>
					<input type="text" id="nombre" th:field="${bodega.nombre}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Numero:</label>
				</td>
				<td>
					<input type="text" id="numero" th:field="${bodega.numero}">
				</td>
			</tr>
			<tr>
				<td>
					<label>Direccion:</label>
				</td>
				<td>
					<input type="text" id="direccion" th:field="${bodega.direccion}">
				</td>>
			</tr>
			<tr>
				<td>
					<label>Telefono:</label>
				</td>
				<td>
					<input type="text" id="telefono" th:field="${bodega.telefono}">
				</td>
			</tr>
		</table>
		<input type="submit" value="Guardar">
	</form>
</body>

</html>